<html>
    <body>
        <h1>¡Hola bienvenidos a su red social!</h1>
        <!--Para utilizar las variabales que se trajeron desde el context en las vistas de django, se utilizan por medio del doble corchete -->
        <p>Bienvenido: {{nombre_persona}} {{apellido_persona}}</p>
        <p>Tu &uacute;ltimo acceso fue el: {{last_login}}</p>
        <p>Los temas sugeridos para hoy son: </p>
        <p>
        <!--Los condicionales y cliclos son empleados solo con corchetes únicos, y se debe especificar literalmente el inicio y fin de los mismos
        estos siempre tienen porcentajes al inico y final de cada linea.-->

            {% if not temas %}
                <p>No hay temas sugeridos en este momento</p>
            {% else %}  
                <ul>
                    {% for i in temas %}
                    <li>{{i}}</li>
                    {% endfor %}
                </ul> 
            {% endif %}
        </p>

    </body>
</html>